{% extends "layout.njk" %}
{% import "macros.njk" as macros %}

{% block main %}
#pragma once

{{ macros.printIncludes(includeMap) }}
#include "{{ prefixedPropertyName }}.generated.h"

USTRUCT(BlueprintType)
struct {{apiTag}} F{{ prefixedPropertyName }}
{
	GENERATED_BODY()

	{% for childPropertyName, childPropertySchema in propertySchema.properties %}
		UPROPERTY(BlueprintReadWrite)
		{{ [prefixedPropertyName] | unrealPropertyClassAttributeType(childPropertyName, childPropertySchema) | safe }} {{ [prefixedPropertyName] | getPrefixedPropertyName(childPropertyName) }};
	{% endfor %}

	F{{ prefixedPropertyName }}() {}
	F{{ prefixedPropertyName }}(
		{% for childPropertyName, childPropertySchema in propertySchema.properties %}{{ [prefixedPropertyName] | unrealPropertyMethodArgumentType(childPropertyName, childPropertySchema) | safe }} {{ [prefixedPropertyName] | getPrefixedPropertyName(childPropertyName) }}In{% if loop.last != true %},{% endif %}{% endfor %}
	) : {% for childPropertyName, childPropertySchema in propertySchema.properties %}{{ [prefixedPropertyName] | getPrefixedPropertyName(childPropertyName) }}({{ [prefixedPropertyName] | getPrefixedPropertyName(childPropertyName) }}In){% if loop.last != true %},{% endif %}{% endfor %} {}
};
{% endblock %}