{% macro printIncludes(includeMap) %}
  {% for path, type in includeMap %}
    {% if type === 'system' %}
      #include <{{ path }}>
    {% else %}
      #include "{{ path }}"
    {% endif %}
  {% endfor %}
{% endmacro %}