{% extends "layout.njk" %}
{% import "macros.njk" as macros %}

{% block main %}
#pragma once

#include "Modules/ModuleManager.h"

class F{{pluginName}}Module : public IModuleInterface
{
public:
	/** IModuleInterface implementation */
	virtual void StartupModule() override;
	virtual void ShutdownModule() override;
};
{% endblock %}