{
	"FileVersion": 3,
	"Version": 1,
	"VersionName": "{{pluginVersion}}",
	"FriendlyName": "{{pluginName}}",
	"Description": "Auto generated {{pluginTitle}} client",
	"Category": "Web",
	"CreatedBy": "Open RPC Generator",
	"CreatedByURL": "https://github.com/etodanik/openrpc-generator",
	"DocsURL": "https://github.com/etodanik/openrpc-generator",
	"MarketplaceURL": "",
	"SupportURL": "",
	"CanContainContent": false,
	"IsBetaVersion": false,
	"IsExperimentalVersion": false,
	"Installed": false,
	"Dependencies": [
		"JsonRpc"
	],
	"Modules": [
		{
			"Name": "{{pluginName}}",
			"Type": "Runtime",
			"LoadingPhase": "PreLoadingScreen"
		}
	],
	"Plugins": [
		{
			"Name": "JsonRpc",
			"Enabled": true
		}
	]
}