{% extends "layout.njk" %}
{% import "macros.njk" as macros %}

{% block main %}
#pragma once

{{ macros.printIncludes(includeMap) }}
#include "{{ method.name | pascalCase }}ResponseData.generated.h"

USTRUCT(BlueprintType)
struct {{apiTag}} F{{ method.name | pascalCase }}ResponseData
{
	GENERATED_BODY()

	UPROPERTY(BlueprintReadWrite)
	int64 value;

	F{{ method.name | pascalCase }}ResponseData() : value(0)
	{
	}
};

DECLARE_DYNAMIC_DELEGATE_OneParam(F{{ method.name | pascalCase }}Callback, F{{ method.name | pascalCase }}ResponseData, ResponseData);
{% endblock %}